@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "ZILLA";
    src: url("../../src/fonts/zilla/ZillaSlab-Light.ttf");
  }

/**
hard yellow:
  	#fbb811
yellow:
	#f5d149  
soft yellow: 
	#faec92
white: 
	#d8dade
green:
  	#2d7e3e
*/

/* HEADER */
.logo{
    @apply 

    max-h-24
    m-auto
	p-1
    
    hover:animate-pulse
}

.nav{
    @apply 

    p-5 
    justify-between
	h-24
    
    lg:flex 
	bg-[#f5d149]
	text-[#2d7e3e]

	static 
    w-auto 
    grid-cols-1
    font-zilla
    font-bold

    lg:items-center 
    lg:flex 

}

.link{
    @apply 
    
    mx-2 
    text-xl 
    hover:text-white
    duration-500 
    pb-5 
    text-center

    lg:pb-0

}

/*BANNER*/

.banner{
    @apply 
    
    bg-black 
    h-auto 
    
    hover:bg-[#FBB811] 
    
    duration-1000
}

.bannerText{
    @apply 

    text-white 
    hover:text-black

    lg:text-8xl 
    md:text-5xl 
    text-3xl 
    
    overflow-auto 

    pb-16 
    pt-12 
    m-auto 

    text-center 
    font-mono 

    duration-1000 
}